# Build files
/cross
/docs/book/*
/target

# Tests
crates/cli/tests/plain.fmt
crates/cli/tests/00*00-latex-*.fmt
crates/cli/tests/*-plain-*.fmt
crates/cli/tests/xenia/paper.pdf

# Tectonic bundles
*.ttb

# Misc
*.ignore