# Build files
tectonic/cross
tectonic/target
/docs/book/*

# Tests
tectonic/crates/cli/tests/plain.fmt
tectonic/crates/cli/tests/00*00-latex-*.fmt
tectonic/crates/cli/tests/*-plain-*.fmt
tectonic/crates/cli/tests/xenia/paper.pdf

# Tectonic bundles
*.ttb

# Misc
*.ignore