# Cargo.toml -- Cargo definition file for Tectonic.
# Copyright 2016-2018 the Tectonic Project
# Licensed under the MIT License.

[package]
name = "tectonic"
version = "0.1.9-dev"
authors = ["Peter Williams <peter@newton.cx>"]
build = "build.rs"
description = """
A modernized, complete, embeddable TeX/LaTeX engine. Tectonic is forked from the XeTeX
extension to the classic “Web2C” implementation of TeX and uses the TeXLive distribution
of support files.
"""
homepage = "https://tectonic-typesetting.github.io/"
documentation = "https://docs.rs/tectonic"
repository = "https://github.com/tectonic-typesetting/tectonic/"
readme = "README.md"
keywords = ["tex", "latex", "typesetting", "font"]
categories = ["command-line-interface", "parser-implementations", "rendering", "science", "text-processing"]
license = "MIT"

[badges]
travis-ci = { repository = "tectonic-typesetting/tectonic" }
codecov = { repository = "tectonic-typesetting/tectonic", service = "github" }

[workspace]
members = ["xdv"]

[lib]
name = "tectonic"
crate-type = ["rlib"]

[build-dependencies]
cc = "^1.0"
pkg-config = "^0.3"
regex = "^1.0"
sha2 = "^0.7"

[dependencies]
aho-corasick = "^0.6"
app_dirs = "^1.1"
clap = "^2.29"
error-chain = "^0.12"
flate2 = "^1.0"
fs2 = "^0.4"
hyper = "^0.10"
hyper-native-tls = "^0.2"
libc = "^0.2"
tempfile = "^3.0"
md-5 = "^0.7"
sha2 = "^0.7"
serde = "^1.0"
serde_derive = "^1.0"
tectonic_xdv = { path = "xdv", version = "0.1.9-dev" }
termcolor = "^1.0"
toml = "^0.4"
zip = "^0.4"

# freetype-sys = "^0.4"
# harfbuzz-sys = "^0.1"
# libz-sys = "^1.0"

[dev-dependencies]
tempdir = "^0.3"
lazy_static = "^1.1"

[package.metadata.docs.rs]
dependencies = ["libfontconfig1-dev", "libgraphite2-dev", "libharfbuzz-dev", "libicu-dev", "zlib1g-dev"]
