# Cargo.toml -- Cargo definition file for Tectonic.
# Copyright 2016-2020 the Tectonic Project
# Licensed under the MIT License.

[package]
name = "tectonic"
version = "0.1.13-dev"
authors = ["Peter Williams <peter@newton.cx>"]
build = "build.rs"
description = """
A modernized, complete, embeddable TeX/LaTeX engine. Tectonic is forked from the XeTeX
extension to the classic “Web2C” implementation of TeX and uses the TeXLive distribution
of support files.
"""
homepage = "https://tectonic-typesetting.github.io/"
documentation = "https://docs.rs/tectonic"
repository = "https://github.com/tectonic-typesetting/tectonic/"
readme = "README.md"
keywords = ["tex", "latex", "typesetting", "font"]
categories = ["command-line-interface", "parser-implementations", "rendering", "science", "text-processing"]
license = "MIT"
edition = "2018"
exclude = ["/dist/", "/reference_sources/"]

[badges]
travis-ci = { repository = "tectonic-typesetting/tectonic" }
codecov = { repository = "tectonic-typesetting/tectonic", service = "github" }

[workspace]
members = ["xdv"]

[lib]
name = "tectonic"
crate-type = ["rlib"]

[build-dependencies]
cc = "^1.0.50"
pkg-config = "^0.3"
regex = "^1.3"
sha2 = "^0.8"
tectonic_cfg_support = { path = "cfg_support", version = "0.0.3-dev" }
vcpkg = "0.2.8"

[dependencies]
app_dirs = "^1.1"
byte-unit = "^3.0"
cfg-if = "0.1"
structopt = "0.3"
error-chain = "^0.12"
flate2 = { version = "^1.0", default-features = false, features = ["zlib"] }
fs2 = "^0.4"
headers = "^0.2"
lazy_static = "^1.4"
libc = "^0.2"
tempfile = "^3.1"
md-5 = "^0.8"
reqwest = "^0.9"
sha2 = "^0.8"
serde = { version = "^1.0", features = ["derive"], optional = true }
tectonic_xdv = { path = "xdv", version = "0.1.9-dev" }
termcolor = "^1.1"
toml = { version = "^0.5", optional = true }
zip = { version = "^0.5", default-features = false, features = ["deflate"] }

[features]
default = ["serialization"]
# Note: we used to have this to couple "serde" and "serde-derive", but we've
# adopted the newer scheme to avoid having to depend on both -- should maybe
# just get rid of this feature:
serialization = ["serde", "toml"]

# developer feature to compile with the necessary flags for profiling tectonic.
profile = []

# freetype-sys = "^0.4"
# harfbuzz-sys = "^0.1"
# libz-sys = "^1.0"

[dev-dependencies]
futures = "0.1"
headers = "0.2"
hyper = "0.12"
tempfile = "^3.1"
tokio = "0.1.22"
